:root {
  --black: #030303;
  --green: green;
  --red: red;
  --white: #ffffff;
  --grey: #555555;
  font-family: Roboto;
}
.number {
  text-align: right;
}
main {
  max-width: 1200px;
  margin: auto;
  padding: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 48em;
}

.form .buttons,
.form label {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

header {
  display: flex;
  background-color: var(--black);
  color: var(--white);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5em;
  padding-top: 1.3em;
  padding-bottom: 1.4em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  box-shadow: #000000ee 2px 0px 3px;
  position: sticky;
  top: 0;
}

.message {
  border: solid var(--black) 1px;
  border-radius: 3px;
  padding: 0.6em 1em;
  box-shadow: var(--black) 1px 3px 4px;
  cursor: pointer;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 6px;
  margin-top: 10px;
  margin-bottom: 4px;
  position: absolute;
  right: 20px;
}
.brand {
  font-weight: 800;
}

nav {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
}
header a,
header a:visited {
  color: var(--white);
  text-decoration: none;
}

button,
input[type="submit"],
.button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 100%;
  height: 2em;
  line-height: 2em;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}
.secondaryAction {
  background-color: grey;
}

.empty {
  background-color: none;
}

button.action {
  font-size: 1.3em;
}

button#start {
  background-color: var(--green);
  color: var(--white);
}

button#stop {
  background-color: var(--red);
  color: var(--white);
}

th {
  text-align: left;
}

select {
  width: 100%;
}

td {
  padding-left: 2px;
  padding-right: 2px;
}

.actionRow {
  display: flex;
  margin-bottom: 1em;
  gap: 1em;
  align-items: center;
}

.delete {
  background-color: var(--red);
}

.deleteCell button:first-of-type {
  margin-right: 0.3em;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

th {
  padding-right: 12px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
  grid-row-gap: 0.6em;
}

table {
  width: 100%;
}

.deleteCell {
  width: 20em;
}

.login,
.signup,
.password_reset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

/* Inline #2 | http://127.0.0.1:8000/accounts/login/ */

form p {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}

label {
  font-size: 0.9em;
  margin-bottom: 4px;
}

input {
  border-radius: 3px;
  border-bottom: solid black 3px;
  border: none;
  border-bottom: solid black 1px;
  outline: none;
}

/* style.css | http://127.0.0.1:8000/static/watch/style.css */

.login {
  width: 41em;
}

/* style.css | http://127.0.0.1:8000/static/watch/style.css */

.messages {
  /* z-index: 1; */
  z-index: 10;
}

.message {
  /* background: wheat; */
  /* opacity: 0; */
  /* opacity: 0.inherit; */
  background: white;
  opacity: 0.8;
}

.chart {
  display: flex;
}

.plot {
  height: 600px;
  flex: 1 1 70%;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}

.formGroup h2 {
  margin-bottom: 0.1em;
}

.chartForm {
  flex: 1 1 30%;
}
