{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{% block head_title %}{% endblock head_title %} | Language Watch</title>
    <link href="{% static 'normalize.css' %}"  rel="stylesheet"/>
    <link href="{% static 'watch/style.css' %}"  rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Tool to watch language"/>
    <meta name="keywords" content="language watch" />
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    {% block body %}

      <header>
        <a class="brand" href="{% url 'watch:event_list' %}">Language-Watch</a>
        <nav>
          <a href="{% url 'watch:event_list' %}">{% trans "Events" %}</a>
          {% if user.is_authenticated %}
            <a href="{% url 'account_email' %}">{% trans "Change E-mail" %}</a>
            <a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
          {% else %}
            <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
            <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
          {% endif %}
        </nav>
      </header>

      <div class="messages">
        {% for message in messages %}
          <div class="message" onclick="remove(this)">
            {{ message }}
          </div>
        {% endfor %}
      </div>

      <main>
        {% block content %}
        {% endblock content %}
      </main>
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
    <script>
      function remove(element) {
        element.remove();
      }
    </script>
  </body>
</html>
