{% extends "base.html" %}
{% load static %}

{% block head_title %}{{ event.name }}{% endblock head_title %}

{% block content %}

  {{ eventDict|json_script:"event-data" }}

  <div id="app" data-id="{{ event.id }}">
    <div class="actionRow">
      <button class="action" id="stop" @click="stop" v-if="isOpen">Stop</button>
      <button class="action" id="start" @click="start" v-else>Start</button>
      <span>${countRequests} {% trans "requests" %} </span>
      <span>${totalDuration}</span>
    </div>

    <div class="forms">
      <form v-for="speaker in speakers" v-bind:id="'form_' + speaker.id">
      </form>
    </div>

    <table>
      <thead>
        <tr>
          <th class="number">
            {% trans 'Start' %}
          </th>
          <th class="number">
            {% trans 'End' %}
          </th>
          <th class="number">
            {% trans 'Duration' %}
          </th>
          <th>
            {% trans 'Gender' %}
          </th>
          <th>
            {% trans 'Language' %}
          </th>
          <th>
            {% trans 'Position' %}
          </th>
          <th>
            {% trans 'Point' %}
          </th>
          <th>
            {% trans 'Action' %}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="speaker in speakers">
          <input type="hidden" name="pk" v-bind:value="speaker.id" v-bind:form="'form_' + speaker.id"/>
          <td class="number">
            ${speaker.start}
          </td>
          <td class="number">
            <input name="end" @input="onSpeakerChange(speaker.id)" v-bind:form="'form_' + speaker.id" type="time" :value="speaker.end"/>
          </td>
          <td class="number">
            ${
            String(Math.floor(speaker.duration / 60)).padStart(2, "0")
            }:${String(Math.floor(speaker.duration % 60)).padStart(2, "0")}
          </td>
          <td>
            <select @change="onSpeakerChange(speaker.id)" name="gender" v-bind:form="'form_' + speaker.id">
              <option
                v-bind:selected="gender == speaker.gender"
                v-for="gender in genders"
                v-bind:value="gender"
              >
                ${gender}
              </option>
            </select>
          </td>
          <td>
            <select @change="onSpeakerChange(speaker.id)" name="language" v-bind:form="'form_' + speaker.id">
              <option
                v-bind:selected="language==speaker.language"
                v-for="language in languages"
                v-bind:value="language"
              >
                ${language}
              </option>
            </select>
          </td>
          <td>
            <select @change="onSpeakerChange(speaker.id)" name="position" v-bind:form="'form_' + speaker.id">
              <option
                v-bind:selected="position==speaker.position"
                v-for="position in positions"
                v-bind:value="position"
              >
                ${position}
              </option>
            </select>
          </td>
          <td>
            <select @change="onSpeakerChange(speaker.id)" name="point" v-bind:form="'form_' + speaker.id">
              <option
                v-bind:selected="point == speaker.point"
                v-for="point in points"
                v-bind:value="point"
              >
                ${point}
              </option>
            </select>
          </td>
          <td class="deleteCell">
            <form @submit="deleteSpeaker">
              <input type="hidden" v-bind:value="speaker.id" name="pk" />
              <button v-if="speaker.id != wantDeletion" @click="initiateDelete(speaker.id)" type="button">{% trans "Delete" %}</button>
              <button v-if="speaker.id == wantDeletion" class="cancel" type="button" @click="cancelDelete">{% trans "Cancel" %}</button>
              <button v-if="speaker.id == wantDeletion" class="delete" type="submit">{% trans "Are your sure?" %}</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  {% csrf_token %}
  <script src="{% static 'watch/event_detail.js' %}" type="module"></script>
{% endblock content %}
