{% extends "base.html" %}

{% block head_title %} {% trans "Events" %} {% endblock head_title %}

{% block content %}
  <div class="title">
    <h2>{% trans 'Events' %}</h2>
    <a class="button" href="{% url "watch:event_create" %}">{% trans 'create event' %}</a>
  </div>

  <div class="events">
    {% for event in event_list %}
      <span>
        {{ event.name }}
      </span>
      <div class="buttons">
        <a class="button" href="{% url "watch:event_update" event.pk %}">
          {% trans "Update" %}
        </a>
        <a class="button" href="{% url 'watch:event_detail' event.pk %}">
          {% trans "Record time" %}
        </a>
        <a class="button" href="{% url 'watch:event_stats' event.pk %}">
          {% trans "Charts" %}
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
