{% extends "base.html" %}

{% block head_title %}

  {% if object %}
    {{ object.name }}
  {% else %}
    {% trans 'Create Event' %}
  {% endif %}
{% endblock head_title %}

{% block content %}
  <div class="title">
    {% if object %}
      <h2>{{ object.name }}</h2>
    {% else %}
      <h2>{% trans 'Create Event' %}</h2>
    {% endif %}
    <a class="button empty" href="{% url 'watch:event_list' %}">{% trans 'Back' %}</a>
  </div>
  <form class="form" method="post" action="">
    {{ form }}
    {% csrf_token %}
    <div class="buttons">
      <button type="submit">{% trans 'Submit' %}</button>
      <a class="button empty" href="{% url 'watch:event_list' %}">{% trans 'Back' %}</a>
    </div>
  </form>
{% endblock content %}
