{% extends "base.html" %}
{% load static %}

{% block head_title %}{{ event.name }}{% endblock head_title %}

{% block content %}

  {{ eventDict|json_script:"event-data" }}

  <div id="app" data-id="{{ event.id }}">
    <section class="pieChart chart">
      <div id="pieChartDiv" class="plot"></div>
      <form id="pieChartForm" @change="drawPieChart" class="chartForm">
        <div class="kind">
          <div class="checkbox">
            <label for="enable_duration">Duration</label>
            <input type="checkbox" id="enable_duration" name="durationEnabled" />
          </div>
        </div>
        <div id="groupers" class="formGroup">
          <h2>Groupers</h2>
          <div class="checkbox">
            <label for="grouper_gender">Gender</label>
            <input type="checkbox" id="grouper_gender" name="groupers" value="gender"/>
          </div>
          <div class="checkbox">
            <label for="grouper_language">Language</label>
            <input type="checkbox" id="grouper_language" name="groupers" value="language"/>
          </div>
          <div class="checkbox">
            <label for="grouper_position">Position</label>
            <input type="checkbox" id="grouper_position" name="groupers" value="position"/>
          </div>
          <div class="checkbox">
            <label for="grouper_point">Point</label>
            <input type="checkbox" id="grouper_point" name="groupers" value="point"/>
          </div>
        </div>
        <div id="filters" class="formGroup">
          <h2>Filter</h2>
          <div class="filter" v-for="it in [['gender', genders], ['language', languages], ['position', positions], ['point', points]]">
            <label :for="'filter_' + it[0]">${it[0]}</label>
            <select :id="'filter_' + it[0]" :name="'filter_' + it[0]">
              <option v-for="value in it[1]" :value="value">${value}</option>
            </select>
          </div>
        </div>
      </form>
    </section>
    <section class="barChart chart">
      <div id="barChartDiv" class="plot">
      </div>
      <form id="barChartForm" @change="drawBarChart">
        <div class="stacked">
            <label for="enable_stacked">Stacked</label>
            <input type="checkbox" id="enable_stacked" name="durationEnabled" />
        </div>
      </form>
    </section>
  </div>

  {% csrf_token %}
  <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/danfojs@1.0.2/lib/bundle.min.js"></script>
  <script type="module" src="{% static 'watch/event_stats.js' %}"></script>
{% endblock content %}
